.App {
  width: 100%;
  min-height: 450px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.content-basket {
  width: 60%;
  min-height: 550px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.box {
  width: 200px;
  height: 255px;
  background: rgba(2, 16, 8, 0.5);
  margin-bottom: 1%;
  margin-left: 1%;
  display: flex;
  flex-direction: column;
}
img {
  width: 85%;
  height: 175px;
  margin-left: 7%;
  margin-top: 1%;
  border-radius: 50%;
  background: white;
}
.price-btn {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
button {
  height: 80%;
  width: 60%;
  background: rgba(123, 46, 88, 0.5);
  border: none;
}

.basket {
  width: 30%;
  min-height: 5%;
  padding-left: 1%;
  border: 1px solid green;
  display: flex;
  flex-direction: column;
  margin-top: -65%;
}
.filter-heading {
  width: 35%;
  height: 100px;
  margin-top: -93%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid green;
}
.sub-filterHeading {
  display: flex;
  justify-content: space-evenly;
}
