.App {
  width: 100%;
  min-height: 450px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid black;
}
.content-basket {
  width: 50%;
  min-height: 550px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}
/* .content {
  width: 600px;
  height: 550px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid blue;
}*/
.box {
  width: 200px;
  height: 255px;
  border: 1px solid blue;
  margin-bottom: 1%;
  display: flex;
  flex-direction: column;
}
img {
  width: 85%;
  height: 175px;
  border: 1px solid black;
  margin-left: 7%;
  margin-top: 1%;
}
.price-btn {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
button {
  height: 80%;
  width: 60%;
  background: rgba(23, 46, 88, 0.5);
  border: none;
}

.basket {
  width: 20%;
  min-height: 5%;
  padding-left: 5%;
  border: 1px solid green;
  display: flex;
  flex-direction: column;
  margin-top: -55%;
}
.filter-heading {
  width: 35%;
  height: 100px;
  margin-top: -83%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid green;
}
.sub-filterHeading {
  display: flex;
  justify-content: space-evenly;
}
